<div class="detail-section">
    <div class="container-fluid">

        <h3 class="item-number">{{ notification.number }}</h3>
        <h4>{{ notification.title }}</h4>

        <hr>
        
        <h4>Description</h4>
        <p>{{ notification.description }}</p>

        <hr>

        <div class="row" style="display: flex;">
            <div class="column" style="flex: 50%;">
                <p> <span style="font-weight: bold;">Equipment:</span> {{ notification.equipmentName }}</p>
                <p> <span style="font-weight: bold;">Location: </span>{{ notification.locationName }}</p>
                <p> <span style="font-weight: bold;">Author: </span>{{ notification.authorName }}</p>
            </div>
            <div class="column" style="flex: 50%;">
                <p> <span style="font-weight: bold;">Creation Date: </span>{{ notification.dateCreated }}</p>
                <div *ngIf="notification.dateClosed != null">
                    <p> <span style="font-weight: bold;">Closing Date: </span>{{ notification.dateClosed }}</p>
                </div>
            </div>
        </div>

        <hr>

        <div style="display: inline;">
            <button class="btn btn-primary btn-sm" style="width: 100px; margin-right: 5px">Proccess</button>
            <button class="btn btn-primary btn-sm" style="width: 100px; background-color: gray; margin-inline: 5px">Close</button>
        </div>
        <br>
        

        <a routerLink="/notifications" class="mt-5">Back to Notification List</a>
    </div>
</div>
